@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body, html {
  font-family: 'Poppins', 'Roboto', 'Martel Sans', 'Baloo Bhaijaan 2', sans-serif;
} */

.material-symbols-outlined.large {
  font-size: 2rem;
}
.nav-item {
  position: relative;
  cursor: pointer;
  padding: 0 4px;
}

.nav-item::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s cubic-bezier(.4,0,.2,1);
}

.nav-item:hover::after {
  width: 100%;
}